# Virtual Environment
django_project/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
*.sqlite3

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Distribution / packaging
*.egg-info/
dist/
build/

# Env files
.env
*.env

# Logs
*.log
